<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="./styles/query.css">
    <title>NekoHappy</title>
</head>
<body>
    
    <div id="app">
        <div class="logged" v-if="logged" > 
        <!-- Tuturial -->
        <div class="tuto" @click="tuto" v-if="tuturial == 0 || tuturial == 1 || tuturial == 2">
                <div class="container">
                    <div class="boxer tuto1" v-if="tuturial == 0">
                        <p>Aqui é o menu rápido</p>
                    </div>
                    <div class="boxer tuto2" v-if="tuturial == 1">
                        <p>Aqui é o Feed</p>
                    </div>
                    <div class="boxer tuto2" v-if="tuturial == 2">
                        <p>Aqui é o Explore, onde você encontrar seus professores</p>
                    </div>
                </div>

        </div>
        <!-- End Tuturial -->
        <div class="container">
            <div class="opa left" :class="tuturial == 0 ? 'ativo_tuto' : ''"> 
                <div class="links">
                    <a v-for="menuLinksLeft in menuLinksLeft" :class="menuLinksLeft.acessou ? 'active' : '' " @click="acessarLink(menuLinksLeft)">
                        <span :class="menuLinksLeft.acessou ? 'active' : '' "><i :class="menuLinksLeft.icon"></i></span>
                        <span class="name">{{ menuLinksLeft.name }}</span>
                    </a>
                    <span class="notification_bar" :class="notification.count == 0 ? 'transparent' : '' " v-for="notification in notifications">
                        <p v-if="notification.count > 0 && notification.count < 50">{{ notification.count }}</p>
                        <p v-else-if="notification.count >= 50">50+</p>
                    </span>
                </div>
            </div>

            <!-- Escolher photos  -->
            <div class="tuto escolhe_foto">
                <div class="box_a">
                    <h1>Change a photo</h1>
                </div>
            </div>
            <!-- End Escolher photos  -->

            <!-- Feed -->
            <div class="opa center" v-if="where.name == menuLinksLeft[0].name">
                <h1>{{menuLinksLeft[0].name}}</h1>
                <div class="post">
                    <div class="avatar" :style="{backgroundImage: 'url(' + user.avatar + ')'}"></div>
                    <textarea name="" placeholder="Whats happening?"></textarea>
                    <div class="bottom">
                            <i class="fas fa-images"></i>
                            <i class="fas fa-surprise"></i>
                    </div>
                </div>
                <!-- Postagens -->
                <div class="postagens">
                    <div class="avatar" :style="{backgroundImage: 'url(' + user.avatar + ')'}"></div>
                    <h1>{{ user.name }}</h1>
                    <p>Olá usuarios da internet</p>
                </div>
                <div class="postagens">
                    <div class="avatar" :style="{backgroundImage: 'url(' + user.avatar + ')'}"></div>
                    <h1>{{ user.name }}</h1>
                    <p>Olá usuarios da internet</p>
                </div>
                <div class="postagens">
                    <div class="avatar" :style="{backgroundImage: 'url(' + user.avatar + ')'}"></div>
                    <h1>{{ user.name }}</h1>
                    <p>Olá usuarios da internet</p>
                </div>
                <div class="postagens">
                    <div class="avatar" :style="{backgroundImage: 'url(' + user.avatar + ')'}"></div>
                    <h1>{{ user.name }}</h1>
                    <p>Olá usuarios da internet</p>
                </div>
                <div class="postagens">
                    <div class="avatar" :style="{backgroundImage: 'url(' + user.avatar + ')'}"></div>
                    <h1>{{ user.name }}</h1>
                    <p>Olá usuarios da internet</p>
                </div>
                <div class="postagens">
                    <div class="avatar" :style="{backgroundImage: 'url(' + user.avatar + ')'}"></div>
                    <h1>{{ user.name }}</h1>
                    <p>Olá usuarios da internet</p>
                </div>
                <div class="postagens">
                    <div class="avatar" :style="{backgroundImage: 'url(' + user.avatar + ')'}"></div>
                    <h1>{{ user.name }}</h1>
                    <p>Olá usuarios da internet</p>
                </div>
                <!-- End Feed -->     
            </div>
             <!-- Explore -->
             <div class="opa center" :class="tuturial == 2 ? 'ativo_tuto' : ''"  v-if="where.name == menuLinksLeft[1].name">
                 <h1>{{ menuLinksLeft[1].name }} </h1>
                 
             </div>

            <!-- comment --> 

            <div class="opa center" :class="tuturial == 2 ? 'ativo_tuto' : ''"  v-if="where.name == menuLinksLeft[2].name">
                 <h1>{{ user.name }} </h1>
             </div>

             <!-- End Explore -->
            <div class="opa right"> 
                    <input type="text" placeholder="Search NekoHappy">
            </div>
        </div>
        </div>
        <div v-else="" class="main">
            <div class="container">
                <div class="form">
                        <h1>Você já imaginou ensinar ou aprender a jogar um determinado jogo?</h1>
                        <h2>Aqui no NekoHappy você pode se tornar um professor ou um aluno!</h2>
                </div>
                <div class="responder">
                    <h1>Cadastra-se</h1>
                    <input v-model="email" type="text" placeholder="E-mail">
                    <input type="password" v-model="senha" type="text" placeholder="Senha">
                    <input v-model="nome" type="text" placeholder="Nome">
                    <div v-if="!email == '' && !senha == '' && !nome == ''">
                    <p>Você quer ensinar ou aprender?</p>
                    <button @click="oqueQueroA('ensinar')">Ensinar</button>
                    <button  @click="oqueQueroA('aprender')">Aprender</button>
                    <div v-if="!oqueQuero == ''">
                    <p>Qual jogo você quer {{ oqueQuero }} ?</p>
                    <button v-for="game in games" @click="qualGame(game)">{{ game.name }}</button>
                    <p v-if="!gameQueroA == ''">Você selecionou o jogo {{ gameQueroA  }} </p>
                    <input v-model="gameQueroA" type="text" placeholder="Qual jogo?" v-if="outro">
                    <br>
                    <div>
                        <button v-if="!gameQueroA == ''" @click="cadastrar">Cadastrar</button>
                    </div>
                     </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./scripts/app.js"></script>
    <script src="./scripts/pace.js"></script>
</body>
</html>