<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="./styles/query.css">
    <title>NekoHappy</title>
</head>
<body>
    
    <div id="app">
        <div class="container">
            <div class="opa left"> 
                <div class="links">
                    <a v-for="menuLinksLeft in menuLinksLeft" :class="menuLinksLeft.acessou ? 'active' : '' " @click="acessarLink(menuLinksLeft)">
                        <span :class="menuLinksLeft.acessou ? 'active' : '' "><i :class="menuLinksLeft.icon"></i></span>
                        {{ menuLinksLeft.name }}
                    </a>
                    <span class="notification_bar" :class="notification.count == 0 ? 'transparent' : '' " v-for="notification in notifications">
                        <p v-if="notification.count > 0 && notification.count < 50">{{ notification.count }}</p>
                        <p v-else-if="notification.count >= 50">50+</p>
                    </span>
                </div>
            </div>
            <!-- Feed -->
            <div class="opa center"  v-if="where.name == 'Home'">
                <h1>Home</h1>
                <div class="post">
                    <div class="avatar" :style="{backgroundImage: 'url(' + user.avatar + ')'}"></div>
                    <textarea name="" placeholder="Whats happening?"></textarea>
                    <div class="bottom">
                            <i class="fas fa-images"></i>
                            <i class="fas fa-surprise"></i>
                    </div>
                </div>
                <!-- Postagens -->
                <div class="postagens">
                    <div class="avatar" :style="{backgroundImage: 'url(' + user.avatar + ')'}"></div>
                    <h1>{{ user.name }}</h1>
                    <p>Olá usuarios da internet</p>
                </div>
                <!-- End Feed -->     
            </div>
             <!-- Explore -->
             <div class="opa center"  v-if="where.name == 'Explore'">
                 <h1>Explore</h1>
                 <input type="text" placeholder="Search in NekoHappy">
             </div>
             <!-- End Explore -->
            <div class="opa right"> 

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./scripts/app.js"></script>
</body>
</html>